// nextflow.config

manifest {
    description = 'Protacs'
    author = 'Romuald marin'
    doi             = ''
    version = "1.0.0"

}


//Docker part
docker {
    enabled = true
    temp = 'auto'
    // Specify your default Docker image here
    //runOptions = '-m 30g'  // Set the memory limit to X GB (adjust as needed)
}
params.help = 0
params.ligase = "$baseDir/6hax/ligase.pdb"
params.ligase_lig = "$baseDir/6hax/ligase_lig.pdb"
params.target_lig = "$baseDir/6hax/target_lig.pdb"
params.target = "$baseDir/6hax/target.pdb"
params.refpdb = "$baseDir/6hax/ref.pdb"
params.restreint = "$baseDir/6hax/rest.dat"
params.perc = "$baseDir/6hax/perc_6hax.dat"
params.outdir = "$baseDir/result"
params.glowworms = 50  //200
params.simulationstep = 10 //50
params.ligandmin = 3
params.ligandmax = 13.7
nextflow.enable.dsl=2


// Default resource configuration for all processes
process {
    // definition of the local executor. Run the pipeline in the current computer.
    executor="local"

    // resources for default process execution
    memory='50G'
    cpus= 30
    time='6h'
    queueSize = 10
    container='romudock/protacs_pipeline:latest'
}

