// nextflow.config

manifest {
    description = 'Protacs'
    author = 'Romuald marin'
    doi             = ''

}

//Docker part
docker {
    enabled = true
    // Specify your default Docker image here
    //runOptions = '-m 30g'  // Set the memory limit to X GB (adjust as needed)
}
params.ligase = "$baseDir/data/6hax/ligase.pdb"
params.ligase_lig = "$baseDir/data/6hax/ligase_lig.pdb"
params.target_lig = "$baseDir/data/6hax/target_lig.pdb"
params.target = "$baseDir/data/6hax/target.pdb"
params.refpdb = "$baseDir/data/6hax/ref.pdb"
params.restreint = "$baseDir/data/6hax/rest.dat"
params.perc = "$baseDir/data/6hax/perc_6hax.dat"
params.outdir = "$baseDir/result"
params.glowworms = 50  //200
params.simulationstep = 10 //50
nextflow.enable.dsl=2


// Default resource configuration for all processes
process {
    // definition of the local executor. Run the pipeline in the current computer.
    executor="local"

    // resources for default process execution
    memory='50G'
    cpus= 30
    time='6h'
    queueSize = 100
    container='pipeline_gilberto:v0'
}

